.corpoTarefa {
    display: grid;
    grid-template-columns: 200px auto 200px;
    margin-top: 30px;
}

.listaNum{
    box-shadow: 3px 3px 3px 3px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.titulo {
    border-bottom: 3px solid black;
    margin: 15px;
    padding: 20px;
    
}

.desc {
    font-size: x-large;
    margin: 10px;
    display: grid;
    grid-template-columns: 200px auto;
    padding: 10px;
}

.desc input{
    font-size: x-large;
    border-radius: 5px;
    background-color: #ffffff;
}

.calcular{
    border-radius: 5px;
    border: 0px;
    font-size: 30px;
    background-color: #00AAFF;
    color: #000000;

}
.btns{
    padding: 20px;
    display: grid;
    grid-template-columns: auto 500px auto;
}

.calcular:hover{
    background-color: #0059ffab;
    color: #ffffff;
    cursor: pointer;

}

.retornar{
    background-color: #FFA500;
    border-radius: 5px;
    border: 0px;
    font-size: 30px;
    color: #ffffff;
}

.retornar:hover{
    background-color: #ffa600e0;
    color: #000000;
    cursor: pointer;
}