/* o corpoLista e toda a pagina novaTarefa */
.corpoTarefa {
    display: grid;
    grid-template-columns: 200px auto 200px;
    margin-top: 30px;
}

/* a tabela dentro do corpoLista*/
.tabela{
    box-shadow: 5px 5px 5px 5px;
    padding: 50px;
    border-radius: 10px;
    margin: 30px;
}

/* para o H1 do titulo */
.titulo {
    border-bottom: 3px solid black;
    margin: 15px;
    padding: 20px;
    
}

/* para o campo de descricao */
.desc {
    font-size: x-large;
    margin: 10px;
    display: grid;
    grid-template-columns: 200px auto;
    padding: 10px;
}

/* para o input da descricao */
.desc input{
    font-size: x-large;
    border-radius: 5px;
    background-color: #ffffff;
}

/* para a div dos botoes */
.btns{
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 500px auto;
}

/* o botao de salvar */
.salvar{
    border-radius: 5px;
    border: 0px;
    font-size: 30px;
    background-color: #00AAFF;
    color: #000000;

}
.salvar:hover{
    background-color: #0059ffab;
    color: #ffffff;
    cursor: pointer;
}

/* o botao de cancelar */
.cancelar{
    background-color: #FFA500;
    border-radius: 5px;
    border: 0px;
    font-size: 30px;
    color: #ffffff;
}
.cancelar:hover{
    background-color: #ffa600e0;
    color: #000000;
    cursor: pointer;
}