
*{
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #88aec7;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}